.main {
  padding: 2rem 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  gap: 1rem;
}

.main h2 {
  padding-bottom: 1rem;
}

@media (max-width: 1080px) {
  .main {
    padding: 2rem 0rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
