.main {
  padding: 60px 83px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: grey;
}

.left img {
  width: 103px;
  height: 22px;
  opacity: 0.5;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.links li {
  padding-bottom: 12px;
  color: grey;
  font-size: 13px;
  font-weight: 500;
}

.links h4 {
  font-size: 13px;
  font-weight: 600;
  color: #333333;
}

.main nav ul li {
  list-style: none;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.right h4 {
  font-size: 13px;
  font-weight: 600;
  color: #333333;
}

.right img {
  width: 130px;
  height: 38px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 1080px) {
  .main {
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
  }

  .left {
    padding-top: 2rem;
    order: 3;
  }

  .middle {
    justify-content: left;
    gap: 7rem;
  }

  .buttons {
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  .middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 5rem;
  }
}
